#menu {
  text-align: center;
}

#developers {
  margin-top: 150px;
}
#header {
  position: fixed;
  background-color:  #4d0000;
  width: 100%;
  left: 0px;
  top: 0px;
  box-shadow: 0px 10px 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}

#header h3 {
  font-size: 40px;
  margin: 10px;
}
#header span {
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.headerLink {
  cursor: pointer;
  padding: 15px;
  text-align: center;
  margin: 0px;
}

h1 {
  color: white;
  text-align: left;
  font-size: 80px;
  margin-top: 100px;
  margin-left: 60px;
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: -9px 4px 8px rgba(150, 150, 150, 0.92);
}

#app {
  font-size: 20px;
  text-align: left;
  margin-top: 50px;
  margin-left: 60px;
  font-family: sans-serif;
  font-weight: lighter;
  color: white;
  line-height: 150%;
}

h3 {
  color: white;
  text-align: right;
  font-size: 50px;
  margin-top: -400px;
  margin-right: 60px;
  font-weight: lighter;
  font-family: sans-serif;
  text-shadow: -9px 4px 8px rgba(150, 150, 150, 0.92);
}

h6 {
  color: white;
  text-align: right;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: lighter;
  margin-right: 60px;
}

#Tyree {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-right: -280px;
  margin-top: -25px;
  line-height:150%;

}

#Luis {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-right: -700px;
  margin-top: -109px;
  line-height: 150%;
}

#Denasia {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-right: -1150px;
  margin-top: -109px;
  line-height: 150%;
}

#social{
  max-height: 50px;
  align-content: center;
  display: flex;
}
