#header span:hover {
  color: gray;
}

#header span:active {
   color: gray;
}

#menu {
  text-align: center;
}

#btn {
  margin-top: 150px;
  margin-left: 60px;
  background-color: #4d0000;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 20px;
}

h3 {
  color: #4d0000;
  text-align: left;
  font-size: 23px;
  margin-top: -100px;
  margin-left: 60px;
  font-family: sans-serif;
  font-weight: 500;
  /*text-shadow: -9px 4px 8px rgba(150, 150, 150, 0.92); */
}


html {
  background-color: white;
}

h1{
  color: #4d0000;
  text-align: left;
  font-size: 80px;
  margin-top: 100px;
  margin-left: 60px;
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: -9px 4px 8px rgba(150, 150, 150, 0.92);
}

#zip_code{
  background-color:rgba(0, 0, 0, 0);
  margin-top: 100px;
}

#submit{
  background-color:rgba(0, 0, 0, 0);
  color: #4d0000;
}

#header {
  position: fixed;
  background-color:  #4d0000;
  width: 100%;
  left: 0px;
  top: 0px;
  box-shadow: 0px 10px 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}

#header h3 {
  font-size: 40px;
  margin: 10px;
  font-weight: 400;
}
#header span {
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.headerLink {
  cursor: pointer;
  padding: 15px;
  text-align: center;
  margin: 0px;
}



.hidden p{
  width: 40%;
  margin-left: : 10px;
  line-height: 40px;
  font-size: 23px;
  color:  #4d0000;
  font-weight: 550;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 20px;
}

.hidden{
  margin-left: 60px;
  size: 16px;
}

#weather p{
  width: 23%;
  font-size: 24px;
  color:  #4d0000;
  margin-right: 0px;
  transform: rotate(30deg);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  display: flex;
  position: fixed;
}
