div.hidden {
  display: none;
}



#header span:hover {
  color: gray;
}

#header span:active {
   color: gray;
}

h1{
  color: white;
  text-align: left;
  font-size: 85px;
  margin-top: 300px;
  margin-left: 60px;
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: -9px 4px 8px rgba(150, 150, 150, 0.92);
}

#menu {
  text-align: center;
}

#chairman {
  margin-top: 45px;
}

#header {
  position: fixed;
  background-color:  #4d0000;
  width: 100%;
  left: 0px;
  top: 0px;
  box-shadow: 0px 10px 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}

#header h3 {
  font-size: 40px;
  margin: 10px;
}
#header span {
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.headerLink {
  cursor: pointer;
  padding: 15px;
  text-align: center;
  margin: 0px;
}


@-webkit-keyframes typing {
    from { width: 0 }
    to { width:18em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:18em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Consolas, monospace; }

h4 {
  color: rgb(0, 0, 102);
  text-align: left;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 60px;
  font-family: sans-serif;
  font-weight: lighter;
  text-shadow: -9px 4px 8px rgba(150, 150, 150, 0.92);
  width:18em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;

    -webkit-animation: typing 7s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 7s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
