<html>
  <head>
    <title> About Us </title>
    <link rel="stylesheet" href="resources/homepage.css"/>
    <link rel="stylesheet" href="resources/about_us.css"/>
  </head>
  <body>
    <div id="header">
          <a href="/"><span class="headerLink">HOME</span></a>
          <a href="/choose_outfit"><span class="headerLink">WEATHER FLOW</span></a>
          <a href="/styles_colors"><span class="headerLink">COLOR MATCH</span></a>
          <a href="/about_us"><span class="headerLink">ABOUT US</span></a>
    </div>
    <h1> About Us </h1>
  </body>
</html>
