<html>
  <head>
    <title> About Us </title>
    <link rel="stylesheet" href="resources/homepage.css"/>
    <link rel="stylesheet" href="resources/about_us.css"/>
  </head>
  <body>
    <div style='position:absolute;z-index:0;left:0;top:0;bottom:0;right:0;background-image:url(resources/clothing.jpg);background-size: cover'>
      <div id='menu'>
    <div id="header">
          <a href="/"><span class="headerLink">HOME</span></a>
          <a href="/choose_outfit"><span class="headerLink">WEATHER FLOW</span></a>
          <a href="/styles_colors"><span class="headerLink">COLOR MATCH</span></a>
          <a href="/about_us"><span class="headerLink">ABOUT US</span></a>
      </div>
    </div>
    <h1>About Us</h1>
    <div id="about">
      <p id="app">Updated Fashion is an application that allows its users<br>
        to determine their outfits based on their current location<br>
        and the city's weather. Additionally, the application recommends <br>
        possible color combinations by using input from the user.<br><br>
        <!--To begin, click on the weather flow tab and insert your <br>
        zip code. It's as easy as that! <br><br>
        Have a shirt but stuck on what colored pants to wear? <br>
        Leave it to Updated Fashion to guide you in the right direction <br> -->


      </p>
    </div>
    <div id="developers">
    <div>
      <h3> About the Developers </h3>
        <h6> Tyree Jackson &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp; Luis Torres &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Denasia Hamilton</h6>
        <p id="Tyree">Houston, Texas <br> University of Texas <br> at Austin<br>
            <p id="Luis">Phoenix, Arizona <br> Arizona State <br> University <br></p>
        <p id="Denasia">St. Paul, Minnesota <br> Loyola Marymount <br> University<br></p>
        <a id='Tyree_linkedin' align="right" href="https://www.linkedin.com/in/tyree-jackson-57886a142/" target="_blank"><img id="social" src="resources/linkedin.jpg"></a></p>
    </div>
  </div>
      </body>
</html>
