<!DOCTYPE html>
<html>
<head>
  <title>Updated Fashion</title>
  <link rel="stylesheet" href="resources/homepage.css"/>
</head>
<body>

<div style='position:absolute;z-index:0;left:0;top:0;bottom:0;right:0;background-image:url(resources/MainBackground.jpg);background-size: cover'>
  <div id="header">
        <a href="/choose_outfit"><span class="headerLink">WEATHER FLOW</span></a>
        <a href="/styles_colors"><span class="headerLink">COLOR MATCH</span></a>
        {% if user %}
          <a href="{{log_url}}"><span class ="headerLink">SUP, {{user.nickname()}} LOGOUT</span></a>
        {% else %}
          <a href="{{log_url}}"><span class ="headerLink">LOGIN</span></a>
        {% endif %}
  </div>
  <h1>UPDATED FASHION</h1>
</div>

  </body>

</html>
