<html>
<head>
  Content-Type: application/json
  <title> Color Match </title>
  <link rel="stylesheet" href="resources/style_and_color.css"/>
  <link rel="stylesheet" media="screen" type="text/css" href="resources/colorpicker.css" />
<script type="text/javascript" src="resources/jquery.js"></script>
<script type="text/javascript" src="resources/colorpicker.js"></script>
<script type="text/javascript" src="resources/eye.js"></script>
<script type="text/javascript" src="resources/utils.js"></script>
<script type="text/javascript" src="resources/layout.js?ver=1.0.2"></script>
</head>
<body>
  <div style='position:absolute;left:0;top:0;bottom:0;right:0;background-image:url(resources/colorimage.jpg);background-size:cover'>
    <div id="menu">
    <div id="header">
          <a href="/"><span class="headerLink">HOME</span></a>
          <a href="/choose_outfit"><span class="headerLink">WEATHER FLOW</span></a>
          <a href="/styles_colors"><span class="headerLink">COLOR MATCH</span></a>
          <a href="/about_us"><span class="headerLink">ABOUT US</span></a>
      </div>
      <h1> Color Match </h1>
    <div align='left' style="position:absolute;top:150;left:20"><p  id="colorpickerHolder"/></div>
    <div align='left'><iframe style="opacity:.9;position:absolute;top:380;left:20" width='40%' height=50% src="http://www.thecolorapi.com/form-scheme"></iframe></div>
</div>
</iframe>
</body>
</html>
